body {
    margin: 0;
}
img {
    width:100%;
}

 ul {
     display:flex;
    
 }
 .topbar {
    position: fixed;
    top: 0;
    width: 100%;
    
  
 }

.grid1 {
    display:grid ; 
     grid-template-columns: 1fr 1fr;   
     column-gap: 10em;
     row-gap: 2em;
     margin:auto 80px
 }

 .gallery {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr; 
 }

.colunm {
display:grid;
margin:auto 20px
}

.map {
    width: 100%;
}


.button {
    box-sizing: border-box;
    margin: auto 40px;
    border:2px dotted rgb(38, 93, 212);
    font-size:15px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    display: flex;
    justify-content:center;
    align-items: center;
    background-image:url('./pictures/coffee.jpg');
    height: calc(100vh - 6px);
    width: 100bw;
    color: rgb(53, 83, 139);
 

}
.main div {
    text-align: center;
    font-size: 20px ;
   
}

section h2 {
    font-size: 40px;

}


.lastpics {
    grid-column-end: span 3;
}


 section h1, .tops {
     text-align: center;
    
     
 } 


 .menu {
     display:flex;
     justify-content : end;
     gap: 1.5em;
     list-style: none;
     align-items: center;
     font-weight: bold;
     font-size: 20px;
 }


 .location {
 }

 .tog{
     display:flex;
     justify-content: space-between;
     /* margin: auto 0px; */
     padding: 0 1em;
     background-color: whitesmoke;
     background-origin: 0px;   
     height: 5vh;
     align-items: center;
 }

 .tog h1, .tog ul {
     margin: 0;
     font-size: smaller;
 }

 .employes {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin:auto 20px
    }
 

    .footer {
        
        margin: auto 20px;
        text-align: center;
        background-color: whitesmoke;
         padding: 1em
      
        /* justify-content: space-between; */
        /* align-items: center; */
    }



    . {
        @media all and (max-width:460px) 
            .employes {
                grid-template-columns: 1fr;
            }
                .grid1 {
                    grid-template-columns: 1fr;
                }
            }
}
            
            }
            
    }